.homepage {
    background-color: aquamarine;
    color: darkslategray;
    font-size: medium;
    text-align: center;
    font-family: 'Times New Roman', serif;
    font-size: small;
    font-weight: 300;
}

.homepage h1 {
    font-size: large;
    font-weight: 700;
}

ul {
    list-style: none;
}

.recipe-style h1 {
    font-size: large;
    color: grey;

}